#supportContainer{
    background-color: rgb(217, 218, 221);
    height: 25rem;
}

#supportSerach{
    display: flex;
    justify-content: space-between;
    margin-left: 10rem;
    margin-right: 10rem;
}

#supportInput{
    height: 3rem;
    width: 25rem;
   border: 10rem;
    border-color: rgb(27, 26, 26);
}